/Anaconda3-2024.06-1-Linux-x86_64.sh
/tempCodeRunnerFile.python
/BRCA_res50_h5.tar.gz
/HRD_result
/OV_res50_h5.tar.gz
/homework
/HistoFL其余结果
/HistoFL-master/DATA_ROOT_DIR/
/HistoFL-master/tmp/
/HistoFL-master/HRD_result/
/HistoFL-master/clean_up/
/HistoFL-master/name.csv
/HistoFL-master/.gitignore
/HRD-grab/results_old
/HRD-grab/results_3